.item1{
    grid-area: header;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    padding: 3px;
    
    
}
.item1 h2{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    
    margin-top: 29px;

}

.nav{
    display: inline;
    margin: 30px;
    vertical-align: middle;
   

}

.nav a{
    color: blue;
    text-decoration: none;
    font-size: larger;
    margin: 2px;
    
}



.item3{
    grid-area: main;
    background-color: white;
    display: flex;
    flex-direction: row;
   
    

}

.item3 h1{
    font-family: 'Times New Roman', Times, serif;
    color: #0659b7;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 70px;
    font-size: xx-large;

}

.item3 button{
    margin-top: 198px;
    background-color: #0659b7;
    border-radius: 40px;
    color: white;
    padding: 7px;
    border-color: black;
    box-shadow: none;
    
}

.item3 button:hover{
    background-color: white;
    color: #0659b7;
    border-color:black;
}



.item4{
    display: flex;
    flex-direction: column;
    grid-area: right-footer;
    justify-self: center;
    align-items: center;
    margin-top: 200px;

}

.item4 h2{
    color: #0659b7;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;

}

.container{
    display: flex;
    flex-direction: row;


}

.card{
    display: flex;
    flex-direction: column;
    border: none ;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
   
    padding: 7px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: 7px;
    
}

.card p{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card h3{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}




.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'right-footer right-footer right-footer right-footer right-footer right-footer'

    
    ;
}

